[data-bs-theme=dark] .text-success {
  color: var(--bs-white) !important;
}

[data-bs-theme=dark] .text-bg-light {
  color: var(--bs-light) !important;
  background-color: var(--bs-tertiary-bg) !important;
}

.food-item img {
  max-height: 300px;
  object-fit: cover;
  aspect-ratio: 3 / 2;
}